h2 {
    text-align: left;
}

h3 {
    text-align: left;
    margin-left: 50px;
    font-size: 16px;
    font-style: normal;
}

.writing {
    font-family: 'IBM Plex Serif', serif !important;
}

.hatch-1 {
    stroke: rgb(126,207,192) !important;
    fill: rgb(126,207,192) !important;
}
